body{
    background-image: url(../images/triangle-mosaic.png);
}
.navbar-brand{
    font-size: 1.6rem;
}
.navitemright{
    position: fixed;
    right: 20px;

}
.bkgroundcolor{
    background-color: lightgray;
    margin-top: 30px;
    width: 50%;
    padding: 0px 20px 30px 20px;
}
.aboutme{
    border-bottom: 1px solid gray;
}



.footerbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: white;
}

#message{
    width: 100%;
    height: 130px;
}

.col img{
    margin: 0px 0px 15px 0px;
}

.holderimg{
    float: left;
    margin: 0 30px 10px 0 !important;
    border: 1px solid black;
    
    }